<!-- https://nextlevelweekstarter.notion.site/nextlevelweekstarter/Front-end-7c8a1a9a6df547058f1473f899a3b9c4-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles/main.css" />
    {% block styles %}
    {% endblock styles %}
		<link rel="stylesheet" href="./styles/responsive.css" />
		{% block title %}
		<title>Ecoleta</title>
		{% endblock title %}
	</head>
	<body>
		<div id= {{pageId}} >
			{% block content %}
			{% endblock content %}
		</div>
		{% block modal %}
		{% endblock modal %}
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>
