#page-create-point {
	width: 90rem;
	max-width: 110rem;
	margin-inline: auto;
}

#page-create-point header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4.8rem;
}
#page-create-point header a {
	color: var(--title-color);
	font-weight: bold;
	display: flex;
	align-items: center;
}
#page-create-point header a span {
	margin-right: 1.6rem;
	background-image: url(../assets/arrow-left.svg);
	width: 2rem;
	height: 2rem;
	display: flex;
}
form {
	margin-inline: auto;
	background-color: #fff;
	padding: 6.4rem;
	border-radius: 0.8rem;
	margin-top: 8rem;
	max-width: 73rem;
}
form h1 {
	font-size: 3.6rem;
}
form fieldset {
	margin-top: 6.4rem;
	border: 0;
}
form legend {
	margin-bottom: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
form legend h2 {
	font-size: 2.4rem;
}
form legend span{
	font-size: 1.4rem;
	color: var(--title-color);
}

form .field {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 2.4rem;
}
form .field-group {
	display: flex;
}
form input,
form select {
	background-color: #f0f0f5;
	border: 0;
	padding: 1.6rem 2.4rem;
	font-size: 1.6rem;
	outline: none;
	border-radius: 0.8rem;
}
form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form label {
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
}
form .field-group .field + .field{
	margin-left: 2.4rem;
	margin-right: 0;
}

form button{
	width: 26rem;
	height: 5.6rem;
	background-color:var(--primary-color);
	border-radius: .8rem;
	color:#fff;
	font-weight: bold;
	font-size: 1.6rem;
	border: 0;
	margin-top: 4rem;
transition:background-color .4s;
}
form button:hover{
	background-color: #2fb86e;
}  
.items-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.6rem;

}
.items-grid li{
background-color: #f5f5f5;
list-style: none;
border: 2px solid #f5f5f5;
height: 18rem;
border-radius: .8rem;
 padding: 3.2rem 2.4rem 1.6rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 cursor: pointer;
}
.items-grid li span{
	flex: 1;
	display: flex;
	align-items: center;
color: var(--title-color);
margin-top: 1.2rem;
}
.items-grid li.selected{
	background: #e1faec;
	border: 2px solid #34cb79;
}
.items-grid li img,
.items-grid li span{
	pointer-events: none;
}






























